<h1>New Actor:</h1>

<% if @actor.errors.any? %>
	<div id="error_explanation">
		<h3><%= pluralize(@actor.errors.count, "error") %></h3>

		<ul>
			<% @actor.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @actor do |f| %>
	<% if @movie %>
		Select Movie: <%= f.collection_select(:movie_ids, Movie.all, :id, :title, {:selected => @movie.id}) %><br>
	<% else %>
		Select Movie: <%= f.collection_select(:movie_ids, Movie.all, :id, :title) %><br>
	<% end %>
	Actor name: <%= f.text_field :name %><br>
	Actor age: <%= f.number_field :age %><br>
	<%= f.submit %>
<% end %>
<%= link_to "Back to actors", actors_path %>