<div class="actor-wrapper">
	<h1><%= @actor.name %></h1>
	<p>Age: <%= @actor.age %></p><br>
	<h4>Movies:</h4>
	<% @actor.movies.each do |movie| %>
		<%= link_to movie.title, movie_path(movie) %><br>
	<% end %>
	<br>

	<h3>Comments</h3>

	<%= render partial: "comments/comments", locals: { commentable: @actor } %>
	<%= render partial: "comments/form", locals: { commentable: @actor } %>

	<br>
	<%= link_to "Edit actor", edit_actor_path(@actor) %><br>
	<%= link_to "Delete actor", actor_path(@actor), method: :delete %><br>
</div>