<% if @movie.errors.any? %>
	<div id="error_explanation">
		<h3><%= pluralize(@movie.errors.count, "error") %></h3>

		<ul>
			<% @movie.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @movie do |f| %>

	<%= f.label :title %>
	<%= f.text_field :title %><br>

	<%= f.label :genre %>
	<%= f.text_field :genre %><br>

	<%= f.fields_for :actors, @movie.actors.build do |actor_fields| %>
		Actor Name <%= actor_fields.text_field :name %><br>
		Actor Age <%= actor_fields.text_field :age %><br>
	<% end %>
	<%= f.submit %>
<% end %>