<h1><%= @movie.title %></h1>
Genre: <%= @movie.genre %><br>
<h4>Starring:</h4>
<% @movie.actors.each do |actor| %>
	<%= link_to actor.name, actor_path(actor) %><br>
<% end %>

<br>
<%= link_to "Add actor", '/movies/' + @movie.id.to_s + '/actors/new' %><br>
<%= link_to "Show all movies", movies_path %>