<h1><%= @movie.title %></h1>
Genre: <%= @movie.genre %><br>
<h4>Starring:</h4>
<% @movie.actors.each do |actor| %>
	<%= link_to actor.name, actor_path(actor) %><br>
<% end %><br>

<h3>Comments</h3>

<%= render partial: "comments/comments", locals: { commentable: @movie } %>
<%= render partial: "comments/form", locals: { commentable: @movie } %>

<br>
<br>
<%= link_to "Add actor", '/movies/' + @movie.id.to_s + '/actors/new' %><br>
<%= link_to "Delete movie", movie_path(@movie), method: :delete %><br>